#map {
    width: 900px;
    height: 500px;
    border: 1px solid black; 
    display: block;
    margin: auto;
  }
  
  svg {
    background-color: lightgrey;
  }
 
  .state-textarea {
    font-size: 10px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;

  }
 
  
  #charts {
    display: grid;  
      grid-template-columns: 75% 25%;
      grid-template-areas: 
        "left right";  
      height: 100vh;
    

  }
  
  #scatterplot {
    flex: 1;   
  } 
  
  #ranking-table {
    flex: 1;
    overflow-y: auto;
  }
  
  #state{
    display: none;
  }
  #piechart{
    display: block;
    margin: auto;
  }

